doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/chartist.min.css')
    script(src='/javascripts/chartist.min.js')
    script(src='/javascripts/chartist-plugin-pointlabels.min.js')
    script(src='/javascripts/jquery-1.11.2.min.js')
    script(src='/javascripts/script.js')
  body
    block content